:root {
    --primary-color: red;
    --secondary-color: blue;
    --button-radius: 10px;
    --form-field-radius: 15px;
    --form-button-radius: var(--form-field-radius);
    --light-text: white;
}

.btn {
    border-radius: var(--button-radius);
    padding: 1em 2em;
    text-align: center;
    box-sizing: border-box;
    border: 3px solid transparent;
    transition: all .5s;
    cursor: pointer;
}
.btn.primary {
    background: var(--primary-color);
}
.btn.primary:hover {
    background: var(--secondary-color);
}
.btn.secondary {
    border-color: var(--primary-color);
}
.btn.secondary:hover {
    border-color: var(--secondary-color);
}

.dark-bg {
    background: #646464;
}

.light-t {
    color: var(--light-text);
}

.mt-0 {
    margin-top: 0;
}
.mt-1 {
    margin-top: .5em;
}
.mt-2 {
    margin-top: 1em;
}
.mb-0 {
    margin-bottom: 0;
}
.mb-1 {
    margin-bottom: .5em;
}
.mb-2 {
    margin-bottom: 1em;
}
.gap-1 {
    gap: 1em;
}
.gap-2 {
    gap: 2em;
}
.gap-3 {
    gap: 3em;
}

input[type="checkbox"] {
    display: none;
}
input[type="checkbox"].round + label {
    border-radius: 50%;
}
input[type="checkbox"] + label.bottom::before {
    margin-bottom: .5em;
}
input[type="checkbox"].round:disabled + label {
    cursor: default;
}
input[type="checkbox"].w34 + label::before {
    width: 34px;
    height: 34px;
    line-height: 34px;
}
input[type="checkbox"].w20 + label::before {
    width: 20px;
    height: 20px;
    line-height: 20px;
}
input[type="checkbox"] + label::before {
    display: block;
    content: "✔";
    background: white;
    color: var(--primary-color);
    text-align: center;
    vertical-align: middle;
}
input[type="checkbox"]:checked + label::before {
    background: var(--primary-color);
    color: var(--light-text);
}

.upper {
    text-transform: uppercase;
}
.underline,
.dotted-underline {
    text-decoration: underline;
}
.dotted-underline {
    -webkit-text-decoration-style: dotted;
            text-decoration-style: dotted;
}

.flex,
.flex-row,
.flex-column {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
}
.flex-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}
.align-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}
.text-center {
    text-align: center;
}
.center {
    justify-content: center;
    align-items: center;
}

.thin {
    font-weight: 300;
}
.bold {
    font-weight: 700;
}

.f-16 {
    font-size: 16px;
}
.f-18 {
    font-size: 18px;
}
.f-24 {
    font-size: 24px;
}

.primary-bg {
    background: var(--primary-color) !important;
}
.secondary-bg {
    background: var(--secondary-color) !important;
}
.primary-border {
    border: 3px solid var(--primary-color);
}
.secondary-border {
    border: 3px solid var(--secondary-color);
}

body {
    padding: 0;
    margin: 0;
}


/* Шрифты */
@font-face {
    font-family: "Jost";
    src: url("/fonts/Jost-Black.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "Jost";
    src: url("/fonts/Jost-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "Jost";
    src: url("/fonts/Jost-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "Jost";
    src: url("/fonts/Jost-Variable.ttf");
}

@font-face {
    font-family: "Sansation";
    src: url("/fonts/Sansation-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "Sansation";
    src: url("/fonts/Sansation-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "Sansation";
    src: url("/fonts/Sansation-Light.ttf");
    font-weight: 300;
}

.f-jost {
    font-family: "Jost", sans-serif;
}
.f-sansation {
    font-family: "Sansation", sans-serif;
}


.wrapper {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.wrapper-title {
    font-size: 58px;
}

/* Наши ценности */
.block {
    padding: 55px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 18px;
    color: var(--light-text);
    background: #1A2E49;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
}
.block .block-title {
    font-weight: 700;
    font-size: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    gap: .5em;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.block .block-title .title {
    margin: .5em 0;
}
.block .block-title .number-circle {
    display: block;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    font-size: 20px;
    color: var(--primary-color);
    background: white;
    text-align: center;
    vertical-align: middle;
    line-height: 55px;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    position: relative;
    right: -1em;
    top: -1em;
}
.block .description {
    padding-right: 55px;
}


/* Подвал */
.footer {
    display: grid;
    font-weight: 500;
    background: #181E1A;
    color: var(--light-text);
    bottom: 0;
}
.footer .logo img {
    width: 200px;
}
.footer .title {
    font-weight: 700;
    margin-bottom: 1em;
    font-size: 20px;
}
.footer .menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
}
.footer .menu a {
    display: block;
    margin-bottom: .5em;
    cursor: pointer;
}
.footer .social-links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1em;
}
.footer .social-links a > img {
    border-radius: 50%;
    width: 41px;
    aspect-ratio: 1/1;
    -o-object-fit: cover;
       object-fit: cover;
}
.footer .policy {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 13px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.footer .policy a {
    font-size: 16px;
    text-align: center;
    font-weight: 400;
}

@media (max-width: 768px) {
    .desktop {
        display: none;
    }

    .footer {
        gap: 3em;
    }
    .footer .logo {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .footer .title {
        font-size: 16px;
        text-align: center;
    }
    .footer .menu a {
        display: block;
        text-align: start;
    }
    .footer .menu {
        font-size: 11px;
        gap: 2em 1em;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
    }
    .footer .menu > div {
        justify-self: stretch;
        min-width: 40%;
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 calc((100% / 3) - 2em);
            -ms-flex: 1 1 calc((100% / 3) - 2em);
                flex: 1 1 calc((100% / 3) - 2em);
    }
    .footer .menu .info {
        text-align: center;
    }

    .footer .policy {
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 2em;
    }

    .footer .social-links {
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .footer .social-links .links {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        gap: 1em;
    }
    .footer .social-links a > img {
        width: 50px;
    }
}

@media (min-width: 768px) {
    .footer {
        grid-template-areas: "a b b b"
                             "c b b b"
                             "d d d d";
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 10% 15%;
    }
    .footer .log {
        grid-area: a;
    }
    .footer .menu {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        grid-area: b;
        -webkit-column-gap: 15%;
           -moz-column-gap: 15%;
                column-gap: 15%;
    }
    .footer .social-links {
        grid-area: c;
    }
    .footer .policy {
        grid-area: d;
    }
    .footer .policy > * {
        width: calc(100% / 3);
    }
    .footer .policy :last-child {
        text-align: right;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
            -ms-flex-align: end;
                align-items: flex-end;
    }

    .footer .policy,
    .footer .social-links {
        border-top: 1px solid rgba(255, 255, 255, .35) ;
        padding-top: 3em;
    }
}


/* Общие стили */
@media (max-width: 768px) {
    .m-pad-x-7 {
        padding-left: 7%;
        padding-right: 7%;
    }
    .m-pad-x-20 {
        padding-left: 20%;
        padding-right: 20%;
    }
    .m-pad-y-50 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media (min-width: 768px) {
    .pad-x-8 {
        padding-left: 8%;
        padding-right: 8%;
    }
    .pad-y-60 {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .pad-y-100 {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}